@use "./variables";

@mixin text-large($line-height: 1.1) {
  font-size: 40px;
  line-height: $line-height;
}

@mixin text-medium-large($line-height: 1.1) {
  font-size: 30px;
  line-height: $line-height;
}

@mixin text-medium($line-height: 1.15) {
  font-size: 20px;
  line-height: $line-height;
}

@mixin text-small($line-height: 1.5) {
  font-size: 18px;
  line-height: $line-height;
}

@mixin square-button {
  display: block;
  border: solid 1px;
  height: 65px;
  color: variables.$green;
  background-color: transparent;

  @include text-medium;
}

@mixin oval-button {
  display: block;
  height: 43px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;

  @include text-medium;
}

@mixin flex-items-column {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}
