doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Ink.House Layout
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Реплики картин. Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения, доступные цены, большие и маленькие форматы, художественная обработка.")
    link(rel="stylesheet" type="text/css" href="index.css") 
    script(defer src="main.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
  body
    header(class="header")
      div(class="container-shell")
        div(class="header__inner")
          div(class="header__inner-logo logo")
            a(href="#", )
              img(src="./img/icons/Logo.svg", alt="Ink.House Logo")
          button(class="header__inner-menu-button")
            img(src="./img/icons/Menu-icon.png", alt="menu button")
          hr(class="header__inner-line line")
          nav(class="menu")
            ul(class="menu__list")
              li(class="menu__item")
                a(href="#") Репродукции
              li(class="menu__item")
                a(href="#") О нас
              li(class="menu__item request_button")
                button(class="header__btn" data-bs-toggle="modal" data-bs-target="#requestModal") Сделать заявку
              li(class="menu__item menu__item-cart")
                a(href="#")
                  img(src="./img/icons/Cart.svg", alt="Cart")
    div(class="modal" tabindex='-1' class="modal fade" id="requestModal" aria-labelledby="requestModalLabel" aria-hidden="true")
      div(class="modal-dialog modal-lg modal-fullscreen-md-down")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title d-none d-md-block") Подать заявку
            h5(class="modal-title--mobile d-md-none") ПОДАТЬ ЗАЯВКУ
            button(class="btn btn-primary d-none d-md-block ms-auto" type='button') Сохранить
            button(class="btn btn-secondary d-none d-md-block ms-1 border" type='button' data-bs-dismiss='modal') Отменить
            button(class="btn-close title__btn-close d-md-none border" type='button' data-bs-dismiss='modal' aria-label='Close')
          div(class="modal-body")
            h6(class="modal-body__title") Новая заявка
            form
              div(class="mb-3")
                label(class="form-label label-required" for="pictureName") Название картины
                input(class="form-control form-control-sm rounded-1" id="pictureName")
              div(class="mb-3")
                label(class="form-label label-required" for="pictureAuthor") Автор картины
                input(class="form-control form-control-sm rounded-1" id="pictureAuthor")
              label(class="form-label" for="size") Размер  
              div(class="input-group input-group-sm mb-3")
                input(class="form-control rounded-1" id="size")
                button(class="btn btn-secondary icon border ms-1 px-1 rounded-1")
                  img(src="img/icons/search.svg")
              label(class="form-label" for="timeFrame") Желаемые сроки  
              div(class="input-group input-group-sm mb-3")
                input(class="form-control rounded-1" id="timeFrame")
                button(class="btn btn-secondary icon border ms-1 px-1 rounded-1")
                  img(src="img/icons/calendar.svg")
              div(class="mb-3")
                label(class="form-label label-required" for="phoneNumber") Контактный телефон
                input(class="form-control form-control-sm rounded-1" id="phoneNumber")
              div(class="mb-3")
                label(class="form-label label-required" for="clientName") Представьтесь, пожалуйста
                input(class="form-control form-control-sm rounded-1" id="clientName")
              label(class="form-label" for="extraRequirements") Дополнительные пожелания 
              div(class="input-group input-group-sm")
                select(class="form-select rounded-1 d-flex flex-wrap px-1" multiple id="extraRequirements")
                  option(class="border") Изменить цветовую палитру
                  option(class="border") Приглушить тона
                  option(class="border") Добавить растительности
                  option(class="border") Пририсовать хомяка в случайном месте
                button(class="btn btn-secondary icon border ms-1 px-2 rounded-1")
                  img(src="img/icons/plus.svg")
                button(class="btn btn-secondary icon border ms-1 px-1 rounded-1")
                  img(src="img/icons/search.svg")
          div(class="modal-footer pt-0")
            button(class="btn btn-primary d-md-none" style="width: 98%" type='button') Сохранить
            button(class="btn btn-secondary border d-md-none" style="width: 98%" type='button' data-bs-dismiss='modal') Отменить
    main
      section(class="top")
        div(class="top__image")
          img(src="./img/Pigeon.png", alt="pigeon" style="max-width: 458px, max-height: 526px")
        div(class="top__info")
          h1(class="top__info-title") Реплики картин
            br
            .
              от 
            span(class="top__info-title--company-name") Ink. House
          p(class="top__info-text").
            Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения, доступные цены.
          button(class="top__info-button") Продукция
      section(class="main-content")
        div(class="main-content__title")
          p(class="main-content__title-text") Репродукции
          div(class="main-content__title-tab")
            button(class="main-content__title-tab-btn active" data-link="content-french") Франция
            button(class="main-content__title-tab-btn" data-link="content-german") Германия
            button(class="main-content__title-tab-btn" data-link="content-english") Англия
        div(id="content-french" class="main-content__french-paintings-my-cards tab-content active")
          include layoutPartials/frenchPaintings
        div(id="content-german" class="main-content__german-paintings-my-cards tab-content")
          include layoutPartials/germanPaintings
        div(id="content-english" class="main-content__english-paintings-my-cards tab-content")
          include layoutPartials/englishPaintings
      section(class="advertisment")
        div(class="advertisment__content")
          div(class="advertisment__content-title")
            img(class="advertisment__content-title-image" src="./img/icons/Logo-empty.png", alt="asterisk")
            h3(class="advertisment__content-title-text") Новая коллекция
              br
              .
                французских авторов
          p(class="advertisment__content-text") Сложно сказать, почему акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений.
          p(class="advertisment__content-text content-text-2") Принимая во внимание показатели успешности, граница обучения кадров предопределяет высокую востребованность направлений прогрессивного развития.
          button(class="advertisment__content-button") Ознакомиться
      section(class="team-section")
        div(class="team-section__image")
          img(src="./img/frame and hand.png", alt="")
        div(class="team-section__content")
          h3(class="team-section__content-title") Наша команда
          p(class="team-section__content-paragraph") Значимость этих проблем настолько очевидна, что базовый вектор развития позволяет оценить значение экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что консультация с широким активом.
          div(class="team-section__content-photos")
            img(src="./img/Ellipse-Girl.png", alt="")
            img(src="./img/Ellipse-Lil Guy.png", alt="")
            img(src="./img/Ellipse-Guy.png", alt="")
      footer(class="footer")
        div(class="footer__inner")
          a(class="footer__inner-logo" href= "#" class="logo")
            img(src="./img/icons/Logo.svg", alt="Ink.House Logo")
          div(class="footer__inner-contacts")
            adress +7 (999) 543-54-54
            span Мастерская
          div(class="footer__inner-replica")
            h5 Репродукции
            a(href="") Франция
            a(href="") Германия
            a(href="") Англия
          div(class="footer__inner-novelty")
            h5 Новинки
            a(href="") 2021
            a(href="") 2020
          div(class="footer__inner-about")
            h5 О нас
            a(href="") Художники
            a(href="") Менеджеры
          hr(class="footer__inner-line line")
          div(class="footer__social-media")
            img(src="./img/icons/Facebook-icon.svg", alt="Facebook icon")
            img(src="./img/icons/Instagram-icon.svg", alt="Instagram icon")
            img(src="./img/icons/Youtube-icon.svg", alt="Youtube icon")
          div(class="footer__copyrights")
            span Ink. House ®
            span All rights reserved
          
