/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-weight: 500;
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h3, h5 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: #f4f6f5;
}

.container {
  background-color: #E1EDE6;
  padding: 0 11.5%;
}

.header__inner {
  display: grid;
  grid-template-areas: "logo . menu";
  grid-template-columns: 2fr 1fr 4fr;
  padding: 3% 0;
  height: 100%;
}

.logo {
  grid-area: logo;
}

.header__inner-menu-button {
  display: none;
}

.line {
  display: none;
  grid-area: line;
  border-left: 0;
  margin: 16px 0;
  color: #C3D1C6;
}

.menu {
  display: flex;
  justify-content: flex-end;
  grid-area: menu;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0 60px;
  width: 100%;
  max-width: 470px;
  white-space: nowrap;
  font-size: 20px;
  line-height: 1.15;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 25px;
  padding: 0 11.5% 2.5% 11.5%;
}

.top__image {
  width: 50%;
  max-height: 621px;
}

.top__info {
  width: 50%;
}

.top__info-title {
  font-size: 60px;
  line-height: 1.1;
}

.top__info-title--company-name {
  color: #598D66;
}

.top__info-text {
  color: grey;
  margin: 3.4% 0 11% 0;
  font-size: 18px;
  line-height: 1.5;
}

.top__info-button {
  width: 225px;
  display: block;
  border: solid 1px;
  height: 65px;
  color: #598D66;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.15;
}

.main-content {
  padding: 0 11.5%;
}

.main-content__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
}

.main-content__title-text {
  font-size: 40px;
  line-height: 1.1;
  padding-right: 10px;
}

.main-content__title-tab {
  display: flex;
  justify-content: space-between;
  gap: 0 32px;
  max-width: 428px;
}

.main-content__title-tab-btn {
  display: block;
  height: 43px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.15;
  background-color: #E1EDE6;
  color: #2C2D35;
  border: 0;
  cursor: pointer;
}
.main-content__title-tab-btn.active {
  background-color: #376B44;
  color: #f4f6f5;
}

label + input {
  display: none;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 0 50px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 730px;
  padding: 20px 20px 30px 20px;
  background-color: #E1EDE6;
  font-size: 18px;
  line-height: 1.17;
}

.card__img {
  padding: 0 0 25px 0;
}

.card__text-author {
  margin: 0;
  padding: 0 0 8px 0;
  color: #86928B;
}

.card__text-name {
  margin: 0;
  padding: 0 0 8px 0;
  font-size: 30px;
  color: #2C2D35;
}

.card__text-description {
  margin: 0;
  padding: 0 0 30px 0;
}

.card__text-price {
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 24px;
  color: #598D66;
}

.card__button {
  display: block;
  border: solid 1px;
  height: 65px;
  color: #598D66;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.15;
}

.advertisment {
  width: 100%;
  height: 574px;
  padding: 70px 0;
  background: no-repeat url("./img/pic_background.jpg");
  background-position: center;
  background-size: cover;
}

.advertisment__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 50%;
  height: 100%;
  padding-left: 11.5%;
}

.advertisment__content-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 20px;
  max-height: 80px;
  color: #f4f6f5;
}

.advertisment__content-title-text {
  font-size: 40px;
  line-height: 1;
}

.advertisment__content-text {
  color: #f4f6f5;
  font-size: 18px;
  line-height: 1.5;
}

.content-text-2 {
  padding: 0 0 33px 0;
}

.advertisment__content-button {
  display: block;
  border: solid 1px;
  height: 65px;
  color: #598D66;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.15;
  width: 257px;
  color: #2C2D35;
  background-color: #EEDB6D;
}

.team-section {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 30px;
  padding: 4.75% 3.6% 4.75% 11.5%;
  max-width: 100%;
  max-height: 100%;
}

.team-section__image {
  max-width: 440px;
  max-height: 445px;
}

.team-section__content {
  padding: 124px 0 44px 0;
  max-width: 635px;
  max-height: 100%;
}

.team-section__content-title {
  font-size: 40px;
  line-height: 1.1;
}

.team-section__content-paragraph {
  font-size: 18px;
  line-height: 1.5;
}

.team-section__content-photos {
  display: flex;
  gap: 0 30px;
}

.footer {
  background-color: #E1EDE6;
  padding: 0 11.5%;
  height: 100%;
}

.footer__inner {
  display: grid;
  grid-template-columns: 3fr 2fr 1.5fr 1.9fr 1.9fr 1.4fr;
  grid-template-areas: "logo-img replica novelty about . social-media" "logo-img replica novelty about . copyrights" "contacts replica novelty about . copyrights" "contacts replica novelty about . copyrights";
  padding: 23px 0;
  max-height: 168px;
}
.footer__inner h5, .footer__inner adress {
  color: #2C2D35;
  font-size: 20px;
  line-height: 1.5;
}
.footer__inner a, .footer__inner span {
  color: #86928B;
  font-size: 18px;
  line-height: 1.8;
}

.footer__inner-logo {
  grid-area: logo-img;
  padding: 0 0 20px 0;
}

.footer__inner-contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}

.footer__inner-replica {
  grid-area: replica;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}

.footer__inner-novelty {
  grid-area: novelty;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}

.footer__inner-about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}

.footer__social-media {
  grid-area: social-media;
  display: flex;
  gap: 0 32px;
  align-items: center;
  padding: 0 0 10px 0;
}

.footer__copyrights {
  grid-area: copyrights;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}
.footer__copyrights span {
  font-size: 12px;
  line-height: 1.6;
}

@media (max-width: 1370px) {
  .advertisment__content {
    width: 700px;
  }
  .team-section {
    padding: 4.75% 0 4.75% 5%;
  }
}
@media (max-width: 1165px) {
  .menu__list {
    font-size: 18px;
    line-height: 1.17;
  }
  .container, .main-content, .advertisment__content, .footer {
    padding: 0 5%;
  }
  .top {
    padding: 0 5% 4.75% 5%;
  }
  .top__info {
    padding-top: 5%;
  }
  .top__info-title {
    font-size: 40px;
    line-height: 1;
  }
  .main-content__title-text {
    font-size: 30px;
    line-height: 1.1;
  }
  .card {
    max-width: 330px;
  }
  .advertisment__content-title-text {
    font-size: 30px;
    line-height: 1;
  }
  .advertisment__content-title-image {
    max-height: 60px;
  }
  .advertisment__content-button, .top__info-button {
    width: 210px;
    height: 60px;
  }
  .team-section__content {
    padding: 40px 0 44px 0;
  }
}
@media (max-width: 900px) {
  .header__inner {
    grid-template-columns: 1fr 0.5fr 4fr;
  }
  .footer__inner {
    grid-template-columns: 1.5fr 1fr 1.6fr 2fr;
    grid-template-areas: "logo-img   .    .    contacts" "logo-img   .    .    contacts" "replica novelty about social-media" "replica novelty about copyrights" "replica novelty about copyrights" "replica   .      .       .";
    max-height: 768px;
  }
}
@media (max-width: 760px) {
  .advertisment {
    width: 100%;
    height: 574px;
    background: no-repeat url("./img/pic_background (more content in lower part).jpg");
    background-position: center;
    background-size: cover;
  }
  .advertisment__content {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .header__inner {
    grid-template-areas: "logo" "line" "menu";
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 1fr;
    padding: 3% 0;
    height: 100%;
  }
  .line {
    display: block;
    line-height: 0;
    width: 100%;
  }
  .logo {
    margin: auto;
  }
  .menu__list {
    max-width: 100%;
    justify-content: flex-start;
  }
  .menu__item-cart {
    margin-left: auto;
  }
  .top__image {
    width: 40%;
    padding-top: 7%;
  }
  .top__info {
    width: 60%;
    padding-top: 9%;
  }
  .top__info-title {
    font-size: 36px;
    line-height: 1;
  }
  .top__info-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .advertisment__content-button, .top__info-button {
    width: 178px;
    height: 50px;
    font-size: 18px;
    line-height: 1.17;
  }
  .main-content__title-text {
    font-size: 24px;
    line-height: 1.1;
  }
  .main-content__title-tab-btn {
    font-size: 18px;
    line-height: 1.17;
  }
  .card {
    max-width: 240px;
    max-height: 514px;
    font-size: 16px;
    line-height: 1.18;
  }
  .card__img {
    padding-bottom: 15px;
    width: 200px;
    height: 250px;
  }
  .card__text-name {
    font-size: 24px;
    line-height: 1.17;
  }
  .card__text-price {
    font-size: 20px;
    line-height: 1.15;
    padding-bottom: 10px;
  }
  .card__button {
    height: 50px;
  }
  .footer__inner {
    grid-template-columns: 1.5fr 1.4fr 2fr;
    grid-template-areas: "logo-img  .  contacts" "logo-img  .  contacts" "replica novelty about" "replica novelty about" "replica novelty about" "replica novelty about" "line     line     line" "social-media social-media social-media" "copyrights copyrights copyrights";
    padding: 23px 0;
  }
  .footer__inner-novelty {
    align-items: start;
    margin: 0 auto;
  }
  .footer__inner-about {
    margin-left: auto;
  }
  .footer__social-media, .footer__copyrights {
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
  }
}
@media (max-width: 555px) {
  .menu__list {
    gap: 0 40px;
  }
  .top__info-title {
    font-size: 30px;
    line-height: 1;
  }
  .team-section {
    padding-right: 4.75%;
  }
  .team-section__image {
    width: 100%;
    height: 100%;
  }
  .advertisment {
    padding: 50px 0;
  }
  .content-text-2 {
    padding-bottom: 20px;
    margin: 0;
  }
}
@media (max-width: 465px) {
  .container {
    padding: 0;
  }
  .header__inner {
    grid-template-areas: "logo      logo" "menu-button menu";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    max-height: 9em;
  }
  .header__inner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  .header__inner-line {
    display: none;
  }
  .header__inner-menu-button {
    display: block;
    max-width: 50px;
    max-height: 50px;
    border: none;
    padding: 9% 2% 2% 8%;
    background-color: transparent;
  }
  .menu__item {
    display: none;
  }
  .menu__item-cart {
    display: inline;
    padding: 3% 8%;
  }
  .top__image {
    display: none;
  }
  .top__info {
    width: 100%;
  }
  .top__info-text {
    font-size: 14px;
    line-height: 1.5;
  }
  .advertisment__content-button, .top__info-button {
    width: 154px;
  }
  .main-content__title-tab {
    overflow: scroll;
    column-gap: 20px;
  }
  .advertisment__content-title-text {
    font-size: 24px;
    line-height: 1;
  }
  .advertisment__content-text {
    font-size: 16px;
    line-height: 1.4;
  }
  .advertisment__content-button {
    width: 100%;
  }
  .footer__inner {
    grid-template-columns: 1.5fr 1.1fr;
    grid-template-areas: "logo-img  logo-img" "contacts   replica" "contacts   replica" "    .      replica" "    .      replica" "    .         .   " "novelty    about" "novelty    about" "novelty    about" "line       line" "social-media social-media" "copyrights copyrights";
  }
  .footer__inner h5, .footer__inner adress {
    font-size: 16px;
    line-height: 1.9;
  }
  .footer__inner a {
    font-size: 16px;
    line-height: 1.7;
  }
  .footer__inner-novelty, .footer__inner-about, .footer__inner-logo {
    margin: 0;
  }
  .footer__inner-logo {
    margin-right: auto;
  }
  .footer__inner-novelty h5, .footer__inner-about h5 {
    font-size: 20px;
    line-height: 1.7;
    padding-top: 15px;
  }
}