@use "../utilities/variables";
@use "../utilities/mixins";

@media (max-width: 1370px) {
  .advertisment__content {
    width: 700px;
  }

  .team-section {
    padding: 4.75% 0 4.75% 5%;
  }
}

@media (max-width: 1165px) {
  .menu__list, .menu__item-cart {
    @include mixins.text-small(1.17);
  }

  .container-shell,
  .main-content,
  .advertisment__content,
  .footer {
    padding: 0 5%;
  }

  .top {
    padding: 0 5% 4.75% 5%;
  }

  .top__info {
    padding-top: 5%;
  }

  .top__info-title {
    @include mixins.text-large(1);
  }

  .main-content__title-text {
    @include mixins.text-medium-large;
  }

  .my-card {
    max-width: 330px;
  }

  .advertisment__content-title-text {
    @include mixins.text-medium-large(1);
  }

  .advertisment__content-title-image {
    max-height: 60px;
  }

  .advertisment__content-button,
  .top__info-button {
    width: 210px;
    height: 60px;
  }

  .team-section__content {
    padding: 40px 0 44px 0;
  }
}

@media (max-width: 900px) {
  .header__inner {
    grid-template-columns: 1.2fr 0.3fr 4fr;
  }

  .footer__inner {
    grid-template-columns: 1.5fr 1fr 1.6fr 2fr;
    grid-template-areas:
      "logo-img   .    .    contacts"
      "logo-img   .    .    contacts"
      "replica novelty about social-media"
      "replica novelty about copyrights"
      "replica novelty about copyrights"
      "replica   .      .       .";
    max-height: 768px;
  }
}

@media (max-width: 760px) {
  .advertisment {
    width: 100%;
    height: 574px;
    background: no-repeat
      url("./img/pic_background (more content in lower part).jpg");
    background-position: center;
    background-size: cover;
  }

  .advertisment__content {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .header__inner {
    grid-template-areas:
      "logo"
      "line"
      "menu";
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 1fr;
    padding: 3% 0;
    height: 100%;
  }

  .line {
    display: block;
    line-height: 0;
    width: 100%;
  }

  .logo {
    margin: auto;
  }

  .menu__list {
    max-width: 100%;
    justify-content: flex-start;
  }

  .menu__item-cart {
    margin-left: auto;
  }

  .top__image {
    width: 40%;
    padding-top: 7%;
  }

  .top__info {
    width: 60%;
    padding-top: 9%;
  }

  .top__info-title {
    font-size: 36px;
    line-height: 1;
  }

  .top__info-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .advertisment__content-button,
  .top__info-button {
    width: 178px;
    height: 50px;

    @include mixins.text-small(1.17);
  }

  .main-content__title-text {
    font-size: 24px;
    line-height: 1.1;
  }

  .main-content__title-tab-btn {
    @include mixins.text-small(1.17);
  }

  .my-card {
    max-width: 240px;
    max-height: 514px;
    font-size: 16px;
    line-height: 1.18;
  }

  .my-card__img {
    padding-bottom: 15px;
    width: 200px;
    height: 250px;
  }

  .my-card__text-name {
    font-size: 24px;
    line-height: 1.17;
  }

  .my-card__text-price {
    @include mixins.text-medium;

    padding-bottom: 10px;
  }

  .my-card__button {
    height: 50px;
  }

  .footer__inner {
    grid-template-columns: 1.5fr 1.4fr 2fr;
    grid-template-areas:
      "logo-img  .  contacts"
      "logo-img  .  contacts"
      "replica novelty about"
      "replica novelty about"
      "replica novelty about"
      "replica novelty about"
      "line     line     line"
      "social-media social-media social-media"
      "copyrights copyrights copyrights";
    padding: 23px 0;
  }

  .footer__inner-novelty {
    align-items: start;
    margin: 0 auto;
  }

  .footer__inner-about {
    margin-left: auto;
  }

  .footer__social-media,
  .footer__copyrights {
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
  }
}

@media (max-width: 555px) {
  .menu__list {
    gap: 0 22px;
  }

  .top__info-title {
    @include mixins.text-medium-large(1);
  }

  .team-section {
    padding-right: 4.75%;
  }

  .team-section__image {
    width: 100%;
    height: 100%;
  }

  .advertisment {
    padding: 50px 0;
  }

  .content-text-2 {
    padding-bottom: 20px;
    margin: 0;
  }
}

@media (max-width: 465px) {
  .container-shell {
    padding: 0;
  }

  .header__inner {
    grid-template-areas:
      "logo      logo"
      "menu-button menu";
    grid-template-columns: 0.55fr 1.45fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    max-height: 9em;
  }

  .header__inner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    width: 100%;
    height: 100%;
    background-color: variables.$pure-white;
  }

  .header__inner-line {
    display: none;
  }

  .header__inner-menu-button {
    display: block;
    max-width: 50px;
    max-height: 50px;
    border: none;
    padding: 15% 2% 2% 10%;
    margin-left: 5%;
    background-color: transparent;
  }

  .menu__item {
    display: none;
  }

  .menu__item-cart, .request_button {
    display: inline;
    padding: 3% 8%;
    margin-left: 0;
  }

  .top__image {
    display: none;
  }

  .top__info {
    width: 100%;
  }

  .top__info-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .advertisment__content-button,
  .top__info-button {
    width: 154px;
  }

  .main-content__title-tab {
    overflow: scroll;
    column-gap: 20px;
  }

  .advertisment__content-title-text {
    font-size: 24px;
    line-height: 1;
  }

  .advertisment__content-text {
    font-size: 16px;
    line-height: 1.4;
  }

  .advertisment__content-button {
    width: 100%;
  }

  .footer__inner {
    grid-template-columns: 1.5fr 1.1fr;
    grid-template-areas:
      "logo-img  logo-img"
      "contacts   replica"
      "contacts   replica"
      "    .      replica"
      "    .      replica"
      "    .         .   "
      "novelty    about"
      "novelty    about"
      "novelty    about"
      "line       line"
      "social-media social-media"
      "copyrights copyrights";
    h5,
    adress {
      font-size: 16px;
      line-height: 1.9;
    }

    a {
      font-size: 16px;
      line-height: 1.7;
    }
  }

  .footer__inner-novelty,
  .footer__inner-about,
  .footer__inner-logo {
    margin: 0;
  }

  .footer__inner-logo {
    margin-right: auto;
  }

  .footer__inner-novelty,
  .footer__inner-about {
    h5 {
      @include mixins.text-medium(1.7);

      padding-top: 15px;
    }
  }
}
