$base-white: #f4f6f5;
$pure-white: #ffffff;
$light-green: #e1ede6;
$green: #598d66;
$deep-green: #376b44;
$grey-blue: #7FA3AC;
$grey: #86928b;
$light-grey: #c3d1c6;
$black: #2c2d35;
$modal-main-text: #2E3238;
$yellow: #eedb6d;