@use "../utilities/variables";
@use "../utilities/mixins";

.advertisment {
  width: 100%;
  height: 574px;
  padding: 70px 0;
  background: no-repeat url("./img/pic_background.jpg");
  background-position: center;
  background-size: cover;
}

.advertisment__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 50%;
  height: 100%;
  padding-left: 11.5%;
}

.advertisment__content-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 20px;
  max-height: 80px;
  color: variables.$base-white;
}

.advertisment__content-title-text {
  @include mixins.text-large(1);
}

.advertisment__content-text {
  color: variables.$base-white;

  @include mixins.text-small;
}

.content-text-2 {
  padding: 0 0 33px 0;
}

.advertisment__content-button {
  @include mixins.square-button;

  width: 257px;
  color: variables.$black;
  background-color: variables.$yellow;
}
