@use "../utilities/variables";
@use "../utilities/mixins";

.header {
  position: sticky;
  top: 0px;
}

.header__inner {
  display: grid;
  grid-template-areas: "logo . menu";
  grid-template-columns: 2fr 1fr 4fr;
  padding: 3% 0;
  height: 100%;
}

.logo {
  grid-area: logo;
}

.header__inner-menu-button {
  display: none;
}

.line {
  display: none;
  grid-area: line;
  border-left: 0;
  border-style: inset;
  margin: 16px 0;
  color: variables.$light-grey;
  opacity: 1;
}

.menu {
  display: flex;
  justify-content: flex-end;
  grid-area: menu;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0 30px;
  width: 100%;
  max-width: 485px;
  white-space: nowrap;

  @include mixins.text-medium;
}

.header__btn {
  @include mixins.oval-button;

  padding: 6px 10px;
  background-color: variables.$grey-blue;
  color: variables.$base-white;
  border: 0;
  cursor: pointer;
}
