@use "./styles/utilities/mixins";
@use "./styles/utilities/variables";

$basic-grey: #2E3238;
$basic-border-radius: 4px;

$primary: #0078CF;
$secondary: #FFFFFF;
$modal-content-border-radius: $basic-border-radius;
$form-label-color: $basic-grey;
$input-color: $basic-grey;
$input-bg:  #FCFCFD;
$input-font-family: "Open Sans";
$input-font-size: 14px;
$btn-border-radius: $basic-border-radius;
$btn-font-family:  "Open Sans";
$btn-font-weight: 600;
$btn-font-size: 14px;
$btn-close-padding-x: 3px;
$border-color: #D5D8DD;

@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 1000;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100 1000;
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf") format("woff2");
}

.modal-header, .modal-footer {
  border: 0;
}

@include media-breakpoint-up(md) {
  .modal-header {
    padding: 24px;
  }
}

.modal-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  color: $basic-grey;
}

.modal-title--mobile {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  color: #5C6470;
}

.modal-body__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
@include media-breakpoint-down(md) {
  .modal-body__title {
    font-size: 20px;
  }
}

.title__btn-close {
  opacity: 1;
  color: $basic-grey;
  margin-right: 1px !important;
  border-radius: $basic-border-radius;
}

.btn.btn-secondary {
  color: $basic-grey;

  &.icon {
    height: 32px;
    line-height: 0;
  }
}

label {
  position: relative;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: $basic-grey;
}

.label-required {
  padding-left: 10px;
}

.label-required::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '*';
  color: #B21F00;
}

select {
  position: relative;
}

select:after {
  content: url(img/icons/close-circle.svg);
  position: absolute;
  right: 8px;
  top: 8px;
}

option.border {
  display: block;
  position: relative;
  width: max-content;
  background-color: #E5F4FF;
  border-color: #99D5FF !important;
  border-radius: 4px;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 27px !important;
  padding-left: 8px !important;
  margin-right: 4px;
  margin-bottom: 4px;
}

option::after {
  position: absolute;
  right: 8px;
  top: 1px;
  content: '\2715';
  color: $basic-grey;
  font-size: 12px;
  font-weight: 600;
}

