doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Ink.House Layout
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content="")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
