@import "node_modules/normalize-scss/sass/normalize/import-now";

$base-white: #f4f6f5;
$light-green: #E1EDE6;
$green: #598D66;
$deep-green: #376B44;
$grey: #86928B;
$black: #2C2D35;
$yellow: #EEDB6D;

@font-face {
  font-weight: 500;
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h3, h5 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@mixin text-large($line-height: 1.1) {
  font-size: 40px;
  line-height: $line-height; 
}

@mixin text-medium($line-height: 1.15) {
  font-size: 20px;
  line-height: $line-height; 
}

@mixin text-small($line-height: 1.5) {
  font-size: 18px;
  line-height: $line-height; 
}

@mixin square-button {
  display: block;
  border: solid 1px;
  height: 65px;
  color: $green;
  background-color: transparent;
  
  @include text-medium
}

@mixin oval-button {
  display: block;
  height: 43px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;

  @include text-medium
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: $base-white;
}

.container {
  background-color: $light-green;
  padding: 0 165px;
}

.header__inner {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 33px 0;
  max-height: 100px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 60px;
  max-width: 470px;
  
  @include text-medium
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 25px;
  padding: 0 165px 70px 165px;
}

.top__image {
  max-width: 540px;
  max-height: 621px;
}

.top__info {
  max-width: 540px;
}

.top__info-title {
  font-size: 60px;
  line-height: 1.1;
}

.top__info-title--company-name {
  color: $green;
}

.top__info-text {
  color: grey;
  margin: 18px 0 60px 0;

  @include text-small
}

.top__info-button {
  width: 225px;

  @include square-button;
}

.main-content {
  padding: 0 165px;
}

.main-content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 44px;
}

.main-content__title-text {
  @include text-large;
}

.main-content__title-tab {
  display: flex;
  justify-content: space-between;
  gap: 0 32px;
  max-width: 428px;
}

.main-content__title-tab-btn {  
  @include oval-button;

  background-color: $light-green;
  color: $black;

  &.active {
    background-color: $deep-green;
    color: $base-white;
  }
}

label + input {
  display: none;
}

.main-content__french-paintings-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 0 50px 0;
}

.main-content__german-paintings-cards {
  display: none;
}

.main-content__english-paintings-cards {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 730px;
  padding: 20px 20px 30px 20px;
  background-color: $light-green;

  @include text-small(1.17);
}

.card__img {
  padding: 0 0 25px 0;
}

.card__text-author {
  margin: 0;
  padding: 0 0 8px 0;
  color: $grey;
}

.card__text-name {
  margin: 0;
  padding: 0 0 8px 0;
  font-size: 30px;
  color: $black;
}

.card__text-description {
  margin: 0;
  padding: 0 0 30px 0;
}

.card__text-price {
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 24px;
  color: $green;
}

.card__button {
  @include square-button
}

.advertisment {
  width: 100%;
  height: 574px;
  background: no-repeat url("./img/pic_background.jpg");
  background-position: center;
  background-size: cover;
}

.advertisment__content {
  max-width: 705px;
  padding: 70px 0 70px 165px;
}

.advertisment__content-title {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  max-height: 80px;
  color: $base-white;
}

.advertisment__content-title-text {
  @include text-large(1);
}

.advertisment__content-text {
  padding: 0 0 10px 0;
  color: $base-white;

  @include text-small;
}

.content-text-2 {
  padding: 0 0 33px 0;
}

.advertisment__content-button {
  @include square-button;

  width: 257px;
  color: $black;
  background-color: $yellow;
}

.team-section {
  display: flex;
  justify-items: center;
  gap: 0 30px;
  padding: 70px 0 70px 165px;
  max-width: 1275px;
  max-height: 580px;
}

.team-section__image {
  max-width: 440px;
  max-height: 445px;
}

.team-section__content {
  padding: 124px 0 44px 0;
  max-width: 635px;
  max-height: 272px;
}

.team-section__content-title {
  @include text-large;
}

.team-section__content-paragraph {
  @include text-small;
}

.team-section__content-photos {
  display: flex;
  gap: 0 30px;
}

.footer {
  background-color: $light-green;
  padding: 0 165px;
  height: 168px;
}
  
.footer__inner {
  display: grid;
  grid-template-columns: 3fr 2fr 1.5fr 1.9fr 1.9fr 1.4fr;
  grid-template-areas: "logo-img replica novelty about . social-media"
                       "logo-img replica novelty about . copyrights"
                       "contacts replica novelty about . copyrights"
                       "contacts replica novelty about . copyrights";
  padding: 23px 0;
  max-height: 168px;

  h5, adress {
    color: $black;

    @include text-medium(1.5);
  }

  a, span {
    color: $grey;

    @include text-small(1.8);
  }
}

@mixin flex-items-column {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: start;
}

.footer__inner-logo {
  grid-area: logo-img;
  padding: 0 0 20px 0;
}

.footer__inner-contacts {
  grid-area: contacts;

  @include flex-items-column;
}

.footer__inner-replica {
  grid-area: replica;

  @include flex-items-column;
}

.footer__inner-novelty {
  grid-area: novelty;

  @include flex-items-column;
}

.footer__inner-about {
  grid-area: about;

  @include flex-items-column;
}

.footer__social-media {
  grid-area: social-media;
  display: flex;
  gap: 0 32px;
  align-items: center;
  padding: 0 0 10px 0;
}

.footer__copyrights {
  grid-area: copyrights;

  @include flex-items-column;

  span {
    font-size: 12px;
    line-height: 1.6;
  }
}
