div(class="modal" tabindex='-1' class="modal fade" id="requestModal" aria-labelledby="requestModalLabel" aria-hidden="true")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Modal title
        button(class="btn-close" type='button' data-bs-dismiss='modal' aria-label='Close')
      div(class="modal-body")
        p Modal body text goes here.
      div(class="modal-footer")
        button(class="btn btn-secondary" type='button' data-bs-dismiss='modal') Close
        button(class="btn btn-primary" type='button') Save changes
